.div-1, a{
    text-align: center;
    background-color: rgb(39, 34, 34);
    color: white;
    text-decoration: none;
    line-height: 280%;
}
.div-2 button{
    background-color: green;
    color:white;
    font-size: 150%;
    
}
.div-3 {
    background-color: rgb(215, 252, 240);
}
.div-3 button {
    background-color: green;
    color: white;
    font-size: 100%;
}